html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { background:#111; font:13px/1.4 'Helvetica Neue', sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp, .code { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #056cc0; color:#000000; text-shadow: none; }
::selection { background:#056cc0; color:#000000; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #056cc0; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, textarea {  color: #E0D0D0; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #aaf; text-decoration:none }

html, body { height: 100%; }

h1 {
    font-size: 24px;
}

select {
    padding:5px;
    color:black;
}

option {
    margin-bottom:8px;
}

h2 {
    font-size:18px;
    margin-top:2em;
}

h3 {
    font-size:14px;
    margin-top:2em;
}

h4 {
    font-size:13px;
    margin-top:2em;
}

p, ul { margin-top:1.5em; }

.small {
    font-size:11px;
}

.small a {
    text-decoration:none;
}

.dark {
    color:#777;
}

#wrap { min-height: 100%; width: 100%;}

body {
    background:#111 url(./bg_main.gif);
}

body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

header {
    height: 48px;
    background: #01335c url(./bg_top.gif);
}

header a, header a:active, header a:visited {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

#header_container {
    width:1000px;
    margin:0 auto;
}

#logo {
    float: left;
    width:280px;
    height:48px;
    background: transparent url(./logo_small-ch.png) no-repeat 0 1px;
    display:block;
    overflow:hidden;
    text-indent:-10000px;
}

#menu {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding:14px 0 0;
    width: 700px;
    margin-top:0;
    float: left;
    margin-left: 0;
}

#menu li {
    float:left;
    margin-left:10px;
}

#menu li a, #menu li a:active, #menu li a:visited {
    color:#fff;
}

#menu li ul {
    margin:0;
    padding:0;
    position:absolute;
    display:none;
    z-index:5;
    padding-top:6px;
}

#menu li ul li {
    float:none;
    margin:0;
    display:inline;
}

#menu li ul li a {
    display:block;
    padding:6px 10px;
    background:#333;
    white-space:nowrap;
}

#menu li ul li a:hover {
    background:#444;
}

#main {
    width:1000px;
    margin: 0 auto;
    margin-top:1em;
    position: relative;
    padding: 20px 0 40px;
}

footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 26px;
    text-align: center;
    color:#444;
    padding-top: 14px;
    clear:both;
}

footer a, footer a:visited {
    color: #777;
    text-decoration:none;
}

section, aside {
    margin-bottom: 3em;
}
section.left {
    width:640px;
    float:left;
}
aside {
    width:300px;
    margin-left:40px;
    float:left;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Dark.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Dark.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Dark.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}
