body {
  /*background-image: url("bg.gif");*/
  background-color: #85827A;
  max-width: 700px;
  margin: auto;
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  font-size: 15px;
  color: #222244;
}

a {
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
}

.header {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 10px;
}